.header {
  position: relative;
  text-align: right;
  max-height: 300px;
  overflow: hidden;
}

.title {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  border-color: #757575;
}

.body {
  width: 100%;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

