<div class="header p-md-5 m-md-3 bg-light">
  <div class="col-md-7 p-lg-7 mx-auto my-7">
    <h1 class="display-6 font-weight-normal">Ñam</h1>
    <p class="lead font-weight-normal">No empieces una dieta que terminará algún día, comienza un <b> estilo de vida </b> que dure para siempre.</p>
    <button class="btn btn-outline-secondary" (click)="goRegistrationPage()">Únete a la comunidad</button>
  </div>
</div>

<div class="body d-md-flex flex-md-equal my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">¿Qué comemos hoy?</h2>
      <p class="lead">Dinos qué ingredientes tienes y nosotros nos encargamos del resto...</p>
    </div>
    <img src="assets/img/sarten.png" class="d-block w-100" alt="...">
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Buscador de recetas</h2>
      <p class="lead">¿Quieres ideas? Echa un vistazo a esta sección</p>
    </div>
    <img src="assets/img/ingredientes.png" class="d-block w-100" alt="...">
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Tu libro de recetas</h2>
      <p class="lead">Guarda tus recetas favoritas y consúltalas siempre que quieras</p>
    </div>
    <img src="assets/img/plato.png" class="d-block w-100" alt="...">
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Menú semanal</h2>
      <p class="lead">Te ayudamos a organizar un menú semanal equilibrado</p>
    </div>
    <img src="assets/img/piramide.png" class="d-block w-100" alt="...">
  </div>
</div>
