<h1>Recetas | <small>Novedades</small></h1>
<hr>
<div class="card-columns animated fadeIn fast">
  <div class="card" *ngFor="let recipe of recipes; let i = index">
    <button mat-icon-button class="button m-2">
      <mat-icon *ngIf="recipe.isFav === 'Y'" color="warn" matTooltip="Quitar de favoritos" (click)="quitFav(recipe.recipeId)" matTooltip="Quitar de favoritos">favorite</mat-icon>
      <mat-icon class="heart" *ngIf="recipe.isFav === 'N' || recipe.isFav === null" matTooltip="Añadir a favoritos" (click)="addFav(recipe.recipeId)" matTooltip="Añadir a favoritos">favorite</mat-icon>
    </button>
    <img class="card-img-top img-fluid" src="assets/img/plato.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><b>{{ recipe.name }}</b></h4>
      <p class="card-text description"> {{ recipe.description }} </p>
      <button type="button" class="btn btn-outline-info" (click)="showRecipe(recipe)">
        Ver más...
      </button>
    </div>
    <div class="card-footer">
      <h3>
        <span class="badge badge-pill badge-info mr-3">
          {{ recipe.category.name }}
        </span>
      </h3>
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>


