<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img src="assets/img/logo_aguacate.png" width="40" height="40" alt="" loading="lazy">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']">Ñ A M</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="logged === true">
                <a class="nav-link" [routerLink]="['recipes']">Recetas</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="logged === true">
                <a class="nav-link" [routerLink]="['food-search']">¿Qué comemos hoy?</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="logged === true">
              <a class="nav-link" [routerLink]="['recipes-book']">Libro de recetas</a>
            </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown dropleft" routerLinkActive="active" *ngIf="logged === true">
            <a class="nav-link dropdown-toggle dropleft" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi cuenta
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Datos personales</a>
              <a class="dropdown-item" href="#">Cambiar contraseña</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </li>
        </ul>
        <img *ngIf="logged === true" class="rounded-circle z-depth-2 img" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
             data-holder-rendered="true">
    </div>
  <button class="btn btn-outline-light m-2" *ngIf="logged === false" (click)="goRegistrationPage()">Regístrate</button>
  <button class="btn btn-outline-light m-2" *ngIf="logged === false" (click)="goLoginPage()">Inicia sesión</button>
</nav>
