<h1>Recetas | <small>{{ recipe.name }}</small></h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <img class="card-img-top img-fluid" src="assets/img/plato.png" alt="Card image cap">
  </div>

  <div class="col-md-8">
    <h5 class="card-title">Ingredientes</h5>
    <span class="badge badge-pill badge-info mr-3" *ngFor="let ing of recipe.ingredients">
      {{ ing.name }}
    </span>
    <hr>
    <h5 class="card-title">Etiquetas</h5>
    <span class="badge badge-pill mr-3 glutenFree" *ngIf="glutenFree === true">
      Sin gluten
    </span>
    <span class="badge badge-pill mr-3 vegetarian" *ngIf="vegetarian === true">
      Apta para vegetarianos
    </span>
    <span class="badge badge-pill mr-3 vegan" *ngIf="vegan === true">
      Apta para veganos
    </span>
    <hr>
    <h5 class="card-title">Descripción</h5>
    <p class="card-text">
      {{ recipe.description }}
    </p>
      <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
