<footer class="footer container py-5">
  <div class="row">
    <img src="assets/img/logo_aguacate.png" width="55" height="55" alt="" loading="lazy">
    <div class="col-sm-1">
      <h5>Ñam</h5>
      <small class="d-block mb-3 text-muted">&copy; 2020</small>
    </div>
    <div class="col-sm-3">
      <a class="text-muted" href="#">Condiciones de uso</a>
    </div>
    <div class="col-sm-3">
      <a class="text-muted" href="#">Política de privacidad</a>
    </div>
    <div class="col-sm-3">
      <a class="text-muted" href="#">Política de cookies</a>
    </div>
    <div class="col-sm-1">
      <a class="text-muted" href="#">Contacto</a>
    </div>
  </div>
</footer>
